<h1>Listing t0s</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @t0s.each do |t0| %>
  <tr>
    <td><%= t0.name %></td>
    <td><%= t0.path %></td>
    <td><%= link_to 'Show', t0 %></td>
    <td><%= link_to 'Edit', edit_t0_path(t0) %></td>
    <td><%= link_to 'Destroy', t0, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New T0', new_t0_path %>
